<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://julien-pignolet-testgraphql.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0e110d4f-cc78-4b51-9130-9f429ba8560c/resourceGroups/julien-pignolet-test/providers/Microsoft.Web/sites/julien-pignolet-TestGraphQL</ResourceId>
    <UserName>$julien-pignolet-TestGraphQL</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://julien-pignolet-testgraphql.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>